<p>Process got failed on agent:- ${this.agentname} ,</p>
<p>Process named  :- ${this.path}, </p>
<p>
    <br />

    <p stype="text-align:center;"> Due to the following reason <b> ${this.message}</b></p>.<br />
</p>
<p>Please find the following attachment.<br /></p>
<p>
    If you have any issues regarding rpa bot, feel free to email us at <a href="emailto:support@consectus.com"
        alt="Consectus Support Team">Consectus Support Team</a>.
</p>
Regards
</p>
<p>
    Consectus Team
</p>
<div style="display: flex; align-items: center">
    <div>
        <div style="font-size: 16px; font-weight: bold; ">Consectus Limited</div>
        <div>21 York Road</div>
        <div>Maidenhead</div>
        <div>SL61SQ</div>
        <div>Consectus Support Helpline: +44 33 3303 1166</div>
        <div><a href="https://www.consectus.com alt=" Consectus Limited">website</a></div>
    </div>
</div>